@import "http://fonts.googleapis.com/css?family=Montserrat:400,700";
body {
  color: gray;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}
#header a:hover {
  color: beige;
}
#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header {
  background-color: Pink;
  height: 150px;
  line-height: 140px;

}
#header img {
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  opacity: 80%;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
   }
  #header-nav {
  display: block;
  float: right;
  margin-top: 0
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
#footer {
  background-color: Pink;
  padding: 50px 0;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: white;
}
a {
  color: lightBlue;
  text-decoration: none;
}
a:hover {
  color: beige;
}
.post, .about, .portfolio {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border-radius: 50%;
}
.post-author span {
  margin-left: 16px;

}
.post-date {
  color: #d2d2d2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.5
}
.about {
  text-align: center;
}
.about-author img {
  vertical-align: middle;
  border-radius: 50%;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2;
}


.portfolio img {
  border-radius: 20px 20px;
}
.portfolio { text-align: center;}

#portfolio p, h3, img {
  text-align: center;
}
.item-image {
  text-align: center;
  padding-top: 30px
}

#error h3, p {
  text-align: center;
}
.error-link {
  text-align: center;
}
.post-content img {
  text-align: center;
  border-radius: 10px 10px;
}
